@model ELearning.ViewModels.UserAndRole.ApplicationUserPasswordResetVM
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">
            <div class="x_title">
                <span class="mb-2 h4" style="color:dimgray">重置密码</span>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form id="ApplicationUserPasswordResetForm" asp-area="TeacherDesktop" asp-controller="TeacherProfile" asp-action="ApplicationUserPasswordReset" class="form-horizontal" enctype="multipart/form-data" novalidate>
                    <!-- 隐藏的元素 -->
                    <input type="hidden" id="UserId" name="UserId" value="@Model.UserId" />
                    @Html.HiddenFor(model => model.Code)

                    <!-- 密码输入 -->
                    <div class="item form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="password" class="form-control col-md-7 col-xs-12" id="Password" name="Password" placeholder="请输入新密码。" value="@Model.Password" required aria-describedby="passwordHelpBlock">
                            <small id="passwordHelpBlock" class="form-text text-muted">
                                密码需要至少 8 个字符，并且至少 1 个大写字母，1 个小写字母，1 个数字和 1 个特殊字符。
                            </small>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:8px">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- 密码验证输入 -->
                    <div class="item form-group">
                        <label asp-for="PasswordComfirm" class="control-label"></label>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="password" class="form-control col-md-7 col-xs-12" id="PasswordComfirm" name="PasswordComfirm" placeholder="请输入验证密码。" value="@Model.PasswordComfirm" required>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:8px">
                            <span asp-validation-for="PasswordComfirm" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span class="text-success">@Model.ResetStatus</span>
                        </div>
                     </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <button type="button" onclick="submitApplicationUserPasswordResetForm()"  class="btn btn-primary"><i class="fa fa-send"></i> 更新登录密码 </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
