@model ELearning.ViewModels.TeachingCourse.CourseItemContentVM
@using ELearning.Web.Helpers
@{
    var entityController = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row">
    <div class="col-sm-12">
        <div class="x_panel" style="background-color:whitesmoke;border-bottom:solid;border-left:none;border-right:none;border-top:none">
            <span class="mb-2 h4" style="color:dimgray;margin-top:7px">@ViewData["FunctionName"]</span>
            <ul class="nav navbar-right panel_toolbox" style="height:12px;margin-top:-5px">
                <li>
                    <a href="javascript:void(0)" onclick="submitCreateOrEditForm()" style="color:dimgray"><i class="fa fa-save"></i> 保存内容 </a> &nbsp;
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="openCreateOrEditModal('@Guid.NewGuid()','@ViewData["CourseId"]')" style="color:dimgray"><i class="fa fa-recycle"></i> 清空内容 </a> &nbsp;
                </li>
                <li>
                    <a href="javascript:void(0)" onclick="gotoCourseItemMaintenanceDetail('@Model.CourseItemID')" style="color:dimgray"><i class="fa fa-check green"></i> 结束编辑 </a>
                </li>
            </ul>
            <ul class="nav navbar-right panel_toolbox">
            </ul>
        </div>
        @*<span class="text-info"> @Model.SaveStatus</span>*@
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="x_panel">
            <div id="courseItemContentEditor" class="x_content">
                <form id="boVM_CreateOrEdit" asp-area="Admin" asp-controller="@entityController" asp-action="MaintenanceEdit" class="form-horizontal form-label-left" enctype="multipart/form-data" novalidate>

                    <!-- 隐藏的元素 -->
                    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                    <input type="hidden" id="CourseId" name="CourseId" value="@Model.CourseID" />
                    <input type="hidden" id="CourseId" name="CourseId" value="@Model.CourseName" />
                    <input type="hidden" id="CourseItemID" name="CourseItemID" value="@Model.CourseItemID" />
                    <input type="hidden" id="CourseItemName" name="CourseItemName" value="@Model.CourseItemName" />
                    <input type="hidden" id="SaveStatus" name="SaveStatus" value=" @Model.SaveStatus" />

                    <!-- 页眉 -->
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="text" class="form-control input-sm col-md-7 col-xs-12" id="HeadContent" name="HeadContent" placeholder="请输入页眉内容" value="@Model.HeadContent" required style="border-color:whitesmoke">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span asp-validation-for="HeadContent" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="ln_solid"></div>

                    <!-- 名称 -->
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="text" class="form-control input-lg col-md-7 col-xs-12" col-md-10 col-xs-12" id="Name" name="Name" placeholder="请输入单元标题名称" value="@Model.Name" required>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- 副标题 -->
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="text" class="form-control col-md-7 col-xs-12" id="SecondTitle" name="SecondTitle" placeholder="请输入副标题" value="@Model.SecondTitle" required style="border-color:whitesmoke">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span asp-validation-for="SecondTitle" class="text-danger"></span>
                        </div>
                    </div>

                    <!-- 上传视频文件 -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <!-- 视频文件 --->
                            <div class="x_title">
                                <h2>视频文件</h2>
                                <ul class="nav navbar-right panel_toolbox pull-right">
                                    <li>
                                        <a class="pull-right" href="javascript:void(0)" onclick="openVideoUploadModal('commonBusinessVideoesSelectorModal', '@Model.Id')" style="color:dimgray" ><i class="fa fa-plus"></i> 选择视频文件 </a>
                                        <a class="pull-right" href="javascript:void(0)" onclick="openImagesUploadModal('commonBusinessImagesSelectorModal', '@Model.Id')" style="color:dimgray"><i class="fa fa-picture-o"></i> 选择封面图片 </a> &nbsp;
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content" id="courseItemContentVideo">
                                <partial name="_CourseItemContentVideo" model="@Model.Video" />
                            </div>
                        </div>
                    </div>

                    <!-- 正文内容 -->
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea class="resizable_textarea form-control" rows="3" id="Description" name="Description" placeholder="正文内容...">@Model.Description</textarea>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                        
                    <!-- 上传其他文件管理 -->
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>其它文件</h2>
                                <ul class="nav navbar-right panel_toolbox pull-right">
                                    <li>
                                        <a class="pull-right btn btn-primary" style="color:white" onclick="openFileUploadModal('commonBusinessFilesSelectorModal', '@Model.Id')"><i class="fa fa-plus"></i> 添加 </a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <!-- 其它文件 --->
                            <div class="x_content" id="courseItemContentFile">
                                <partial name="_CourseItemContentFiles" model="@Model.FileCollection" />
                            </div>
                        </div>
                    </div>

                    <!-- 页脚 -->
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="text" class="form-control input-sm col-md-7 col-xs-12" id="FootContent" name="FootContent" placeholder="请输入页脚内容" value="@Model.FootContent" required style="border-color:whitesmoke">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span asp-validation-for="FootContent" class="text-danger"></span>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

