@model ELearning.ViewModels.TeachingCourse.CourseItemContentVM
@using ELearning.Web.Helpers
@{
    var entityController = ViewContext.RouteData.Values["controller"].ToString();
}

<div class="row">
    <div class="col-sm-12">
        <div class="x_panel" style="background-color:whitesmoke;border-bottom:solid;border-left:none;border-right:none;border-top:none">
            <span class="mb-2 h4" style="color:dimgray;margin-top:7px">@ViewData["FunctionName"]</span>
            <ul class="nav navbar-right panel_toolbox" style="height:12px;margin-top:-5px">
                <li>
                    <a href="javascript:void(0)" onclick="gotoCourseItemMaintenanceEdit('@Model.CourseItemID')" style="color:dimgray"><i class="fa fa-edit"></i> 编辑内容 </a> &nbsp;
                </li>
                <li>
                    <a href="~/TeacherDesktop/CourseItem/CourseItemList/@Model.CourseID" style="color:dimgray"><i class="fa fa-check green"></i> 结束维护 </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            @*<div class="col-sm-12">*@
                <!-- 处理页眉数据 -->
                @if (!String.IsNullOrEmpty(Model.HeadContent))
                {
                    <div class="x_content">
                        @Model.HeadContent
                        <div class="ln_solid"></div>
                    </div>
                }
                <div class="x_title">
                    <h3 class="text-center">@Model.Name</h3>
                    @if (!String.IsNullOrEmpty(Model.SecondTitle))
                    {
                        <p class="text-center">@Model.SecondTitle</p>
                    }
                </div>
                <div id="courseItemContentEditor" class="x_content">
                    <div style="align-content:center">
                        <video src="@Model.Video.VideoFilePath" controls width="720" style="clear:both;display:block;margin:auto"></video>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="clearfix"></div>
                    <div>
                        @Html.SetHtml(@Model.Description)
                    </div>
                </div>
                @if (Model.FileCollection != null)
                {
                    if (Model.FileCollection.Count > 0)
                    {
                        <div class="x_content">
                            <h5>附件</h5>
                            @*<div class="ln_solid"></div>*@
                            <table class="countries_list x_content">
                                <tbody>
                                    @foreach (var item in Model.FileCollection)
                                    {
                                        <tr>
                                            <td><a href="@item.FilePath"> @item.FileName </a> </td>
                                            <td class="fs15 fw700 text-right"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                }
                <!-- 处理页脚数据 -->
                @if (!String.IsNullOrEmpty(Model.FootContent))
                {
                    <div class="x_content text-center">
                        <div class="ln_solid"></div>
                        @Model.FootContent
                    </div>
                }
            @*</div>*@
        </div>
    </div>
</div>
